<h1>List of Gamblers</h1>>


<table id = "gamblerInfoTable">
<!--<tr *ngFor="let aGamblers of theGamblers">-->
@for (aGamblers of theGamblers ; track aGamblers.id){
<tr>
<td>
    {{aGamblers.id}}
</td>
<td>
    {{aGamblers.name}}
</td>
<td>
    {{aGamblers.address}}
</td>
<td>
    {{aGamblers.salary}}
</td>


<td>
    {{aGamblers.birthDate}}
</td>
</tr>

}@empty{<p>gambler</p>}



<button (click) = "shouldDisplayForm = true">Add a Gambler</button>

<form [hidden] = "!shouldDisplayForm">

<label id="name">Enter Name;</label>
<input id="nameField" type= "text" [(ngModel)]="newGambler.name" name= "Name" >
</form>



</table>